<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/scripts/modernizr-1.7.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")"></script>
</head>

<body>

    <header>
        <h1>WeSolver</h1>

        @Html.Partial("_Navigation")
        
        <div>
          @Html.Partial("_SignInSignUp")
        </div>
    </header>

    @RenderBody()

    @if (!Convert.ToBoolean(ViewBag.CancelSidebar)) {
        <aside>
            @RenderSection("sidebar", required: false)
        </aside>
    }

    <footer>
        &copy; @DateTime.UtcNow.Year WeSolver etc etc
    </footer>

</body>
</html>
